In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_csv('/Users/jasminekaur/Downloads/Data Management 2/Boston_Crime.csv', encoding="latin_1",dtype='unicode')

In [3]:
df.isnull().sum()

INCIDENT_NUMBER            0
OFFENSE_CODE              40
OFFENSE_CODE_GROUP        52
OFFENSE_DESCRIPTION       79
DISTRICT                1777
REPORTING_AREA             0
OCCURRED_ON_DATE           0
YEAR                       0
MONTH                      6
DAY_OF_WEEK                2
HOUR                       3
UCR_PART                  93
STREET                 10979
Lat                    20648
Long                   20646
Location                  13
dtype: int64

In [4]:
df.nunique()

INCIDENT_NUMBER        290156
OFFENSE_CODE              222
OFFENSE_CODE_GROUP         97
OFFENSE_DESCRIPTION       264
DISTRICT                   13
REPORTING_AREA            880
OCCURRED_ON_DATE       238681
YEAR                        4
MONTH                      21
DAY_OF_WEEK                16
HOUR                       24
UCR_PART                    4
STREET                   4684
Lat                     18242
Long                    18242
Location                18255
dtype: int64

In [5]:
df.columns = df.columns.str.upper()

In [6]:
df['DAY_OF_WEEK'] = df['DAY_OF_WEEK'].str.upper()
df['OFFENSE_CODE'] = df['OFFENSE_CODE'].str.upper()
df['OFFENSE_CODE_GROUP'] = df['OFFENSE_CODE_GROUP'].str.upper()
df['OFFENSE_DESCRIPTION'] = df['OFFENSE_DESCRIPTION'].str.upper()
df['UCR_PART'] = df['UCR_PART'].str.upper()
df['STREET'] = df['STREET'].str.upper()
df['MONTH'] = df['MONTH'].str.upper()

In [7]:
df = df.rename(columns={"LAT": "LATITUDE", "LONG": "LONGITUDE"})

In [8]:
df.isnull().sum()

INCIDENT_NUMBER            0
OFFENSE_CODE              40
OFFENSE_CODE_GROUP        52
OFFENSE_DESCRIPTION       79
DISTRICT                1777
REPORTING_AREA             0
OCCURRED_ON_DATE           0
YEAR                       0
MONTH                      6
DAY_OF_WEEK                2
HOUR                       3
UCR_PART                  93
STREET                 10979
LATITUDE               20648
LONGITUDE              20646
LOCATION                  13
dtype: int64

In [9]:
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,LATITUDE,LONGITUDE,LOCATION
0,I182080058,2403,DISORDERLY CONDUCT,DISTURBING THE PEACE,E18,495,10/3/2018 20:13,2018,10,WEDNESDAY,20,PART TWO,ARLINGTON ST,42.26260773,-71.12118637,"(42.26260773, -71.12118637)"
1,I182080053,3201,PROPERTY LOST,PROPERTY - LOST,D14,795,8/30/2018 20:00,2018,8,THURSDAY,20,PART THREE,ALLSTON ST,42.35211146,-71.13531147,"(42.35211146, -71.13531147)"
2,I182080052,2647,OTHER,THREATS TO DO BODILY HARM,B2,329,10/3/2018 19:20,2018,10,WEDNESDAY,19,PART TWO,DEVON ST,42.30812619,-71.07692974,"(42.30812619, -71.07692974)"
3,I182080051,413,AGGRAVATED ASSAULT,ASSAULT - AGGRAVATED - BATTERY,A1,92,10/3/2018 20:00,2018,10,WEDNESDAY,20,PART ONE,CAMBRIDGE ST,42.35945371,-71.05964817,"(42.35945371, -71.05964817)"
4,I182080050,3122,AIRCRAFT,AIRCRAFT INCIDENTS,A7,36,10/3/2018 20:49,2018,10,WED,20,PART THREE,PRESCOTT ST,42.37525782,-71.02466343,"(42.37525782, -71.02466343)"

In [10]:
##Consistency

df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("WED","WEDNESDAY") 
df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("TUE","TUESDAY") 
df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("FRI","FRIDAY") 
df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("MON","MONDAY") 
df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("THURS","THURSDAY") 

df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("MONDAY","1") 
df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("TUESDAY","2") 
df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("WEDNESDAY","3") 
df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("THURSDAY","4") 
df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("FRIDAY","5") 
df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("SATURDAY","6") 
df["DAY_OF_WEEK"]= df["DAY_OF_WEEK"].replace("SUNDAY","7") 

df["UCR_PART"]= df["UCR_PART"].replace("PART ONE","1") 
df["UCR_PART"]= df["UCR_PART"].replace("PART TWO","2") 
df["UCR_PART"]= df["UCR_PART"].replace("PART THREE","3") 
df["UCR_PART"]= df["UCR_PART"].replace("OTHER","4")

In [11]:
#Conformity
df= df.drop(df[df['OCCURRED_ON_DATE'].str.contains('PM')].index)
df= df.drop(df[df['OCCURRED_ON_DATE'].str.contains('AM')].index)
df['OCCURRED_ON_DATE'] = pd.to_datetime(df['OCCURRED_ON_DATE'])#, format='%d/%m/%Y %H:%M')#.dt.strftime('%m/%d/%Y %H:%M'))

In [12]:
#Accurate
#Validity
df['MONTH']= df['MONTH'].replace('ER',np.nan) 
df['MONTH']= df['MONTH'].replace('DSCSC',np.nan) 
#df['MONTH']= df['MONTH'].replace(' ',np.nan) 
df['MONTH']= df['MONTH'].replace('AB',np.nan) 
df['MONTH']= df['MONTH'].replace('AS',np.nan) 
df['MONTH']= df['MONTH'].replace('BH',np.nan) 
df['MONTH']= df['MONTH'].replace('ASASAA',np.nan) 
df['MONTH']= df['MONTH'].replace('CFCS',np.nan) 
df['MONTH']= df['MONTH'].replace('545',np.nan) 
df['MONTH']= df['MONTH'].replace('21',np.nan)

In [13]:
df['MONTH']=df['MONTH'].fillna(df['OCCURRED_ON_DATE'].dt.month)

In [14]:
df['DAY_OF_WEEK']=df['DAY_OF_WEEK'].fillna(df['OCCURRED_ON_DATE'].dt.dayofweek)

In [15]:
df['HOUR']=df['HOUR'].fillna(df['OCCURRED_ON_DATE'].dt.hour)

In [16]:
#street column
df['STREET']=df['STREET'].str.replace(r'\d+','')
df['STREET']=df['STREET'].fillna(np.nan)

In [17]:
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,LATITUDE,LONGITUDE,LOCATION
0,I182080058,2403,DISORDERLY CONDUCT,DISTURBING THE PEACE,E18,495,2018-10-03 20:13:00,2018,10,3,20,2,ARLINGTON ST,42.26260773,-71.12118637,"(42.26260773, -71.12118637)"
1,I182080053,3201,PROPERTY LOST,PROPERTY - LOST,D14,795,2018-08-30 20:00:00,2018,8,4,20,3,ALLSTON ST,42.35211146,-71.13531147,"(42.35211146, -71.13531147)"
2,I182080052,2647,OTHER,THREATS TO DO BODILY HARM,B2,329,2018-10-03 19:20:00,2018,10,3,19,2,DEVON ST,42.30812619,-71.07692974,"(42.30812619, -71.07692974)"
3,I182080051,413,AGGRAVATED ASSAULT,ASSAULT - AGGRAVATED - BATTERY,A1,92,2018-10-03 20:00:00,2018,10,3,20,1,CAMBRIDGE ST,42.35945371,-71.05964817,"(42.35945371, -71.05964817)"
4,I182080050,3122,AIRCRAFT,AIRCRAFT INCIDENTS,A7,36,2018-10-03 20:49:00,2018,10,3,20,3,PRESCOTT ST,42.37525782,-71.02466343,"(42.37525782, -71.02466343)"

In [18]:
df['MONTH'].unique()

array(['10', '8', '9', '5', '6', '4', '7', '3', '2', '1', '12', '11', 3,
       7, 2, 12, 8, 6], dtype=object)

In [19]:
df['DAY_OF_WEEK'].unique()

array(['3', '4', '2', '1', '6', '7', '5', 2, 5], dtype=object)

In [20]:
df['UCR_PART'].unique()

array(['2', '3', '1', nan, '4'], dtype=object)

In [21]:
# Select duplicate rows except first occurrence based on all columns
duplicateRowsDF = df[df.duplicated()]
#print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF.count)

<bound method DataFrame.count of        INCIDENT_NUMBER OFFENSE_CODE               OFFENSE_CODE_GROUP  \
446         I182079576         3501          MISSING PERSON REPORTED
526         I182079514         1415                        VANDALISM
148977      I172028700          301                          ROBBERY
149316      I172028700          301                          ROBBERY
149592      I172028291         1831                   DRUG VIOLATION
149949      I172027847         3201                    PROPERTY LOST
150879      I172027384         3125                  WARRANT ARRESTS
151412      I172026120         3803  MOTOR VEHICLE ACCIDENT RESPONSE
151988      I172025629         3501          MISSING PERSON REPORTED
268695      I152101025          617                          LARCENY
282014      I152100170         2906                       VIOLATIONS
327501   I152030570-00         3125                  WARRANT ARRESTS
327508   I152026775-00         3115               INVESTIGATE PERSON
327511   I152026488-00         3125                  WARRANT ARRESTS
327537   I152006153-00         1849                   DRUG VIOLATION
327541   I152004688-00         3125                  WARRANT ARRESTS
327564   I142060752-00         2610                            OTHER
327566   I142060752-00         3125                  WARRANT ARRESTS
327582   I142049917-00         1402                        VANDALISM
327622   I142025900-00         3125                  WARRANT ARRESTS
327643   I142017108-00         1841                   DRUG VIOLATION
327646   I142017108-00         3125                  WARRANT ARRESTS
327653   I142014620-00         3125                  WARRANT ARRESTS
327670   I140346143-00         1849                   DRUG VIOLATION
327698   I140056633-00         3125                  WARRANT ARRESTS
327704   I140039570-00         3125                  WARRANT ARRESTS
327709   I140036361-00         3125                  WARRANT ARRESTS
327719   I130731947-00         2610                            OTHER
327736   I130371627-00         3125                  WARRANT ARRESTS
327749   I130202615-00         3125                  WARRANT ARRESTS
327767   I130041200-00         3125                  WARRANT ARRESTS
327782   I120470733-00          724                       AUTO THEFT
327809   I110177502-00         3125                  WARRANT ARRESTS
327818   I090321958-00         3125                  WARRANT ARRESTS

                                   OFFENSE_DESCRIPTION DISTRICT  \
446                                     MISSING PERSON      E18
526                                           GRAFFITI      D14
148977                                ROBBERY - STREET      C11
149316                                ROBBERY - STREET      C11
149592            DRUGS - SICK ASSIST - OTHER NARCOTIC      E18
149949                                 PROPERTY - LOST       D4
150879                                  WARRANT ARREST       B3
151412                  M/V ACCIDENT - PERSONAL INJURY       B2
151988                                  MISSING PERSON       A1
268695                     LARCENY THEFT FROM BUILDING      D14
282014                VAL - OPERATING UNREG/UNINS  CAR       C6
327501                                  WARRANT ARREST      E13
327508                              INVESTIGATE PERSON       C6
327511                                  WARRANT ARREST       A1
327537            DRUGS - POSS CLASS B - COCAINE, ETC.       C6
327541                                  WARRANT ARREST       A1
327564                                     TRESPASSING       B2
327566                                  WARRANT ARREST       B2
327582                                       VANDALISM      C11
327622                                  WARRANT ARREST      E13
327643  DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP       A1
327646                                  WARRANT ARREST       A1
327653                                  WARRANT ARREST       A1
327670            DRUGS - POSS CLASS B - COCAINE, ETC.      E18
327698                                  WARRANT ARREST       A1
327704                                  WARRANT ARREST       A1
327709                                  WARRANT ARREST       E5
327719                                     TRESPASSING       D4
327736                                  WARRANT ARREST       B2
327749                                  WARRANT ARREST       B2
327767                                  WARRANT ARREST       B3
327782                                      AUTO THEFT       C6
327809                                  WARRANT ARREST       B2
327818                                  WARRANT ARREST      C11

       REPORTING_AREA    OCCURRED_ON_DATE  YEAR MONTH DAY_OF_WEEK HOUR  \
446               541 2018-10-01 14:30:00  2018    10           1   14
526               794 2018-10-02 07:49:00  2018    10           2    7
148977            304 2017-04-12 11:00:00  2017     4           3   11
149316            304 2017-04-12 11:00:00  2017     4           3   11
149592            538 2017-04-11 20:27:00  2017     4           2   20
149949            145 2017-04-10 12:29:00  2017     4           1   12
150879            427 2017-04-08 16:01:00  2017     4           6   16
151412                2017-04-04 10:34:00  2017     4           2   10
151988             63 2017-04-02 15:38:00  2017     4           7   15
268695            777 2015-12-05 17:00:00  2015    12           6   17
282014            235 2015-12-04 13:46:00  2015    12           5   13
327501            303 2016-10-29 08:25:00  2016    10           6    8
327508            936 2015-10-19 16:04:00  2015    10           1   16
327511            105 2017-01-31 10:00:00  2017     1           2   10
327537            179 2015-09-16 11:30:00  2015     9           3   11
327541            120 2016-07-19 12:50:00  2016     7           2   12
327564            280 2015-12-11 12:50:00  2015    12           5   12
327566            280 2015-12-11 12:50:00  2015    12           5   12
327582            395 2015-09-03 13:00:00  2015     9           4   13
327622            577 2015-12-01 18:00:00  2015    12           2   18
327643             64 2015-06-16 15:55:00  2015     6           2   15
327646             64 2015-06-16 15:55:00  2015     6           2   15
327653            112 2015-08-18 01:10:00  2015     8           2    1
327670            490 2017-01-07 20:00:00  2017     1           6   20
327698             64 2015-06-16 15:55:00  2015     6           2   15
327704            103 2015-09-28 11:15:00  2015     9           1   11
327709            680 2015-07-10 10:15:00  2015     7           5   10
327719            172 2015-07-22 22:00:00  2015     7           3   22
327736            318 2015-10-02 21:00:00  2015    10           5   21
327749            587 2015-08-03 17:23:00  2015     8           1   17
327767            428 2015-12-07 11:38:00  2015    12           1   11
327782            205 2016-09-23 19:15:00  2016     9           5   19
327809            318 2015-10-02 21:00:00  2015    10           5   21
327818            355 2016-02-01 01:43:00  2016     2           1    1

       UCR_PART               STREET     LATITUDE     LONGITUDE  \
446           3             RIVER ST  42.25258881  -71.13053356
526           2         BRIGHTON AVE   42.3531512  -71.13385986
148977        1                  NaN          NaN           NaN
149316        1                  NaN          NaN           NaN
149592        2         MOUNT ASH RD  42.25642616  -71.13154793
149949        3    MASSACHUSETTS AVE  42.34194788  -71.08362479
150879        3        BLUE HILL AVE  42.27928843  -71.09300341
151412        3             CEDAR ST          NaN           NaN
151988        3         STANIFORD ST  42.36371778  -71.06345153
268695        1             UNION ST  42.34585419   -71.1514368
282014        2      MOUNT VERNON ST  42.32161616  -71.05633228
327501        3        W WALNUT PARK  42.31720702  -71.09879922
327508        3    ORTON-MAROTTA WAY  42.33857289  -71.05575501
327511        3             FRUIT ST  42.36240281  -71.06954652
327537        2    MASSACHUSETTS AVE    42.332531     -71.07213
327541        3          BOYLSTON ST  42.35241815  -71.06525499
327564        2            DUDLEY ST  42.32872589  -71.08382217
327566        3            DUDLEY ST  42.32872589  -71.08382217
327582        2       DORCHESTER AVE  42.28526024  -71.06444063
327622        3             AMORY ST  42.31771264  -71.10180456
327643        2             FRUIT ST  42.36240281  -71.06954652
327646        3             FRUIT ST  42.36240281  -71.06954652
327653        3        WASHINGTON ST  42.35456406  -71.06147418
327670        2  AMERICAN LEGION HWY  42.27531312  -71.11587798
327698        3             FRUIT ST  42.36240281  -71.06954652
327704        3        WASHINGTON ST  42.35648631  -71.05928145
327709        3           CORINTH ST  42.28636893  -71.13005503
327719        2    MASSACHUSETTS AVE  42.33339068  -71.07312006
327736        3         HOMESTEAD ST  42.31127726  -71.08909334
327749        3            BURNEY ST  42.33149596  -71.09979111
327767        3           DIXWELL ST  42.31433402  -71.09791405
327782        1                 A ST  42.34695268  -71.05112684
327809        3         HOMESTEAD ST  42.31127726  -71.08909334
327818        3           GENEVA AVE          NaN           NaN

                           LOCATION
446     (42.25258881, -71.13053356)
526     (42.35315120, -71.13385986)
148977     (0.00000000, 0.00000000)
149316     (0.00000000, 0.00000000)
149592  (42.25642616, -71.13154793)
149949  (42.34194788, -71.08362479)
150879  (42.27928843, -71.09300341)
151412     (0.00000000, 0.00000000)
151988  (42.36371778, -71.06345153)
268695  (42.34585419, -71.15143680)
282014  (42.32161616, -71.05633228)
327501  (42.31720702, -71.09879922)
327508  (42.33857289, -71.05575501)
327511  (42.36240281, -71.06954652)
327537  (42.33253100, -71.07213000)
327541  (42.35241815, -71.06525499)
327564  (42.32872589, -71.08382217)
327566  (42.32872589, -71.08382217)
327582  (42.28526024, -71.06444063)
327622  (42.31771264, -71.10180456)
327643  (42.36240281, -71.06954652)
327646  (42.36240281, -71.06954652)
327653  (42.35456406, -71.06147418)
327670  (42.27531312, -71.11587798)
327698  (42.36240281, -71.06954652)
327704  (42.35648631, -71.05928145)
327709  (42.28636893, -71.13005503)
327719  (42.33339068, -71.07312006)
327736  (42.31127726, -71.08909334)
327749  (42.33149596, -71.09979111)
327767  (42.31433402, -71.09791405)
327782  (42.34695268, -71.05112684)
327809  (42.31127726, -71.08909334)
327818     (0.00000000, 0.00000000)  >

In [22]:
df.shape

(327818, 16)

In [23]:
#drop duplicates
df=df.drop_duplicates()

In [24]:
#Drop Na values
df.isnull().sum()

INCIDENT_NUMBER            0
OFFENSE_CODE              40
OFFENSE_CODE_GROUP        52
OFFENSE_DESCRIPTION       78
DISTRICT                1776
REPORTING_AREA             0
OCCURRED_ON_DATE           0
YEAR                       0
MONTH                      0
DAY_OF_WEEK                0
HOUR                       0
UCR_PART                  93
STREET                 10976
LATITUDE               20643
LONGITUDE              20641
LOCATION                  13
dtype: int64

In [25]:
df=df.dropna(how='any')

In [26]:
df[df['LATITUDE']=='-1']

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,LATITUDE,LONGITUDE,LOCATION
1593,I182078316,3115,INVESTIGATE PERSON,INVESTIGATE PERSON,C6,,2018-09-27 22:01:00,2018,9,4,22,3,JAMES O'NEILL,-1,-1,"(-1.00000000, -1.00000000)"
2541,I182077318,2629,HARASSMENT,HARASSMENT,C6,207,2018-09-24 16:23:00,2018,9,1,16,2,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
8249,I182071108,3115,INVESTIGATE PERSON,INVESTIGATE PERSON,C6,,2016-10-01 00:01:00,2016,10,6,0,3,FAN PIER,-1,-1,"(-1.00000000, -1.00000000)"
9463,I182069838,3111,LICENSE VIOLATION,LICENSE PREMISE VIOLATION,B2,,2018-08-31 01:46:00,2018,8,5,1,3,STOUGHTON,-1,-1,"(-1.00000000, -1.00000000)"
12455,I182066621,3207,PROPERTY FOUND,PROPERTY - FOUND,C6,207,2018-08-20 09:00:00,2018,8,1,9,3,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
13747,I182065218,2623,OTHER,OBSCENE MATERIALS - PORNOGRAPHY,C6,207,2018-08-15 20:58:00,2018,8,3,20,2,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
15919,I182062850,706,AUTO THEFT,AUTO THEFT - MOTORCYCLE / SCOOTER,C6,207,2018-08-07 20:00:00,2018,8,2,20,1,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
16809,I182061870,3125,WARRANT ARRESTS,WARRANT ARREST,A7,902,2018-08-30 11:00:00,2018,8,4,11,3,MAVERICK,-1,-1,"(-1.00000000, -1.00000000)"
16810,I182061870,802,SIMPLE ASSAULT,ASSAULT SIMPLE - BATTERY,A7,902,2018-08-30 11:00:00,2018,8,4,11,2,MAVERICK,-1,-1,"(-1.00000000, -1.00000000)"
17385,I182061252,802,SIMPLE ASSAULT,ASSAULT SIMPLE - BATTERY,D4,,2018-08-02 20:09:00,2018,8,4,20,2,DITMUS,-1,-1,"(-1.00000000, -1.00000000)"
17826,I182060777,3112,LANDLORD/TENANT DISPUTES,LANDLORD - TENANT SERVICE,C6,207,2018-08-01 13:11:00,2018,8,3,13,3,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
19482,I182058972,3115,INVESTIGATE PERSON,INVESTIGATE PERSON,C6,,2018-07-26 04:00:00,2018,7,4,4,3,JAMES O'NEILL,-1,-1,"(-1.00000000, -1.00000000)"
21238,I182057106,802,SIMPLE ASSAULT,ASSAULT SIMPLE - BATTERY,C6,207,2018-07-20 00:00:00,2018,7,5,0,2,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
21466,I182056852,3305,ASSEMBLY OR GATHERING VIOLATIONS,DEMONSTRATIONS/RIOT,A1,,2018-07-19 11:03:00,2018,7,4,11,3,CITY HALL PZ,-1,-1,"(-1.00000000, -1.00000000)"
26159,I182051912,3831,MOTOR VEHICLE ACCIDENT RESPONSE,M/V - LEAVING SCENE - PROPERTY DAMAGE,C6,,2018-06-28 17:20:00,2018,6,4,17,3,BOSTON,-1,-1,"(-1.00000000, -1.00000000)"
26374,I182051690,802,SIMPLE ASSAULT,ASSAULT SIMPLE - BATTERY,C6,207,2018-07-01 01:30:00,2018,7,7,1,2,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
27154,I182050846,3114,INVESTIGATE PROPERTY,INVESTIGATE PROPERTY,C6,207,2018-06-28 20:44:00,2018,6,4,20,3,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
31807,I182045944,1102,FRAUD,FRAUD - FALSE PRETENSE / SCHEME,C6,207,2017-09-01 00:00:00,2017,9,5,0,2,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
36315,I182041123,2610,OTHER,TRESPASSING,A7,902,2018-05-29 08:14:00,2018,5,2,8,2,MAVERICK,-1,-1,"(-1.00000000, -1.00000000)"
37323,I182040052,1107,FRAUD,FRAUD - IMPERSONATION,C6,,2018-05-23 08:00:00,2018,5,3,8,2,JAMES O'NEILL,-1,-1,"(-1.00000000, -1.00000000)"
41633,I182035497,3114,INVESTIGATE PROPERTY,INVESTIGATE PROPERTY,C11,,2018-05-10 13:28:00,2018,5,4,13,3,BOWDOIN,-1,-1,"(-1.00000000, -1.00000000)"
45453,I182031425,3006,MEDICAL ASSISTANCE,SICK/INJURED/MEDICAL - PERSON,C6,207,2018-04-27 01:49:00,2018,4,5,1,3,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
45654,I182031221,802,SIMPLE ASSAULT,ASSAULT SIMPLE - BATTERY,E5,,2018-04-26 11:55:00,2018,4,4,11,2,CUMMINS,-1,-1,"(-1.00000000, -1.00000000)"
45655,I182031221,2405,DISORDERLY CONDUCT,DISORDERLY CONDUCT,E5,,2018-04-26 11:55:00,2018,4,4,11,2,CUMMINS,-1,-1,"(-1.00000000, -1.00000000)"
45894,I182030970,3803,MOTOR VEHICLE ACCIDENT RESPONSE,M/V ACCIDENT - PERSONAL INJURY,B2,,2018-04-25 14:18:00,2018,4,3,14,3,WARREN,-1,-1,"(-1.00000000, -1.00000000)"
47607,I182029176,1102,FRAUD,FRAUD - FALSE PRETENSE / SCHEME,C6,207,2018-04-19 10:02:00,2018,4,4,10,2,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
62329,I182013483,1402,VANDALISM,VANDALISM,C6,,2018-02-20 17:18:00,2018,2,2,17,2,MONSIGNOR DENNIS F O'CALL,-1,-1,"(-1.00000000, -1.00000000)"
64782,I182010865,2629,HARASSMENT,HARASSMENT,C6,207,2018-02-06 02:44:00,2018,2,2,2,2,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
65469,I182010137,3201,PROPERTY LOST,PROPERTY - LOST,A15,,2018-02-07 11:48:00,2018,2,3,11,3,RUTHERFORD,-1,-1,"(-1.00000000, -1.00000000)"
66827,I182008639,1106,CONFIDENCE GAMES,FRAUD - CREDIT CARD / ATM FRAUD,C6,207,2017-08-01 00:00:00,2017,8,2,0,2,PIER BLVD,-1,-1,"(-1.00000000, -1.00000000)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280695,I152101357,2629,HARASSMENT,HARASSMENT,C6,,2015-12-08 12:15:00,2015,12,2,12,2,JAMES O'NEILL,-1,-1,"(-1.00000000, -1.00000000)"
283515,I152098194,1830,DRUG VIOLATION,DRUGS - SICK ASSIST - HEROIN,C6,,2015-11-27 12:51:00,2015,11,5,12,2,DEADY'S,-1,-1,"(-1.00000000, -1.00000000)"
287028,I152094319,3831,MOTOR VEHICLE ACCIDENT RESPONSE,M/V - LEAVING SCENE - PROPERTY DAMAGE,E5,822,2015-11-09 08:15:00,2015,11,1,8,3,BOUNDARY RD,-1,-1,"(-1.00000000, -1.00000000)"
288498,I152092659,3115,INVESTIGATE PERSON,INVESTIGATE PERSON,A15,,2015-11-07 20:21:00,2015,11,6,20,3,O'MEARA,-1,-1,"(-1.00000000, -1.00000000)"
289443,I152091597,2647,OTHER,THREATS TO DO BODILY HARM,A15,,2015-11-04 13:55:00,2015,11,3,13,2,O'MEARA,-1,-1,"(-1.00000000, -1.00000000)"
293861,I172088069,619,LARCENY,LARCENY ALL OTHERS,C6,,2017-10-21 17:57:00,2017,10,6,17,1,JAMES O'NEILL,-1,-1,"(-1.00000000, -1.00000000)"
297280,I152083081,3803,MOTOR VEHICLE ACCIDENT RESPONSE,M/V ACCIDENT - PERSONAL INJURY,E5,822,2015-10-06 14:29:00,2015,10,2,14,3,BOUNDARY RD,-1,-1,"(-1.00000000, -1.00000000)"
304474,I152075304,3006,MEDICAL ASSISTANCE,SICK/INJURED/MEDICAL - PERSON,C6,,2015-09-10 18:17:00,2015,9,4,18,3,MONSIGNOR DENNIS F O'CALL,-1,-1,"(-1.00000000, -1.00000000)"
308770,I152070575,3301,VERBAL DISPUTES,VERBAL DISPUTE,C6,,2015-08-25 19:56:00,2015,8,2,19,3,JAMES O'NEILL,-1,-1,"(-1.00000000, -1.00000000)"
309737,I152069515,521,RESIDENTIAL BURGLARY,BURGLARY - RESIDENTIAL - ATTEMPT,A15,,2015-08-22 03:45:00,2015,8,6,3,1,O'MEARA,-1,-1,"(-1.00000000, -1.00000000)"
310022,I152069193,301,ROBBERY,ROBBERY - STREET,B2,,2015-08-20 07:00:00,2015,8,4,7,1,CHILDREN'S,-1,-1,"(-1.00000000, -1.00000000)"
310023,I152069193,413,AGGRAVATED ASSAULT,ASSAULT - AGGRAVATED - BATTERY,B2,,2015-08-20 07:00:00,2015,8,4,7,1,CHILDREN'S,-1,-1,"(-1.00000000, -1.00000000)"
310447,I152068709,1106,CONFIDENCE GAMES,FRAUD - CREDIT CARD / ATM FRAUD,C11,,2015-07-24 13:00:00,2015,7,5,13,2,O'DONNELL,-1,-1,"(-1.00000000, -1.00000000)"
310567,I152068575,3006,MEDICAL ASSISTANCE,SICK/INJURED/MEDICAL - PERSON,C6,,2015-08-19 04:17:00,2015,8,3,4,3,JAMES O'NEILL,-1,-1,"(-1.00000000, -1.00000000)"
312163,I152066823,2007,RESTRAINING ORDER VIOLATIONS,VIOL. OF RESTRAINING ORDER W NO ARREST,A15,,2015-08-12 22:34:00,2015,8,3,22,2,O'REILLY,-1,-1,"(-1.00000000, -1.00000000)"
312857,I152066072,3108,FIRE RELATED REPORTS,"FIRE REPORT - HOUSE, BUILDING, ETC.",E5,822,2015-08-10 11:09:00,2015,8,1,11,3,BOUNDARY RD,-1,-1,"(-1.00000000, -1.00000000)"
314731,I162044522,619,LARCENY,LARCENY ALL OTHERS,E5,822,2016-05-10 12:00:00,2016,5,2,12,1,BOUNDARY RD,-1,-1,"(-1.00000000, -1.00000000)"
315177,I152063566,2006,RESTRAINING ORDER VIOLATIONS,VIOL. OF RESTRAINING ORDER W ARREST,C6,,2015-08-01 16:52:00,2015,8,6,16,2,MONSIGNOR DENNIS F O'CALL,-1,-1,"(-1.00000000, -1.00000000)"
315178,I152063566,3125,WARRANT ARRESTS,WARRANT ARREST,C6,,2015-08-01 16:52:00,2015,8,6,16,3,MONSIGNOR DENNIS F O'CALL,-1,-1,"(-1.00000000, -1.00000000)"
315265,I152063463,3114,INVESTIGATE PROPERTY,INVESTIGATE PROPERTY,E5,822,2015-07-30 08:36:00,2015,7,4,8,3,BOUNDARY RD,-1,-1,"(-1.00000000, -1.00000000)"
315446,I152063269,3006,MEDICAL ASSISTANCE,SICK/INJURED/MEDICAL - PERSON,A1,,2015-07-31 15:59:00,2015,7,5,15,3,WILLIAM CARDINAL O'CONNEL,-1,-1,"(-1.00000000, -1.00000000)"
315486,I152063232,2662,BALLISTICS,BALLISTICS EVIDENCE/FOUND,B2,,2015-07-31 13:12:00,2015,7,5,13,2,CHILDREN'S,-1,-1,"(-1.00000000, -1.00000000)"
319354,I152058906,2610,OTHER,TRESPASSING,C11,,2015-07-16 18:22:00,2015,7,4,18,2,O'DONNELL,-1,-1,"(-1.00000000, -1.00000000)"
319355,I152058906,2616,OTHER,POSSESSION OF BURGLARIOUS TOOLS,C11,,2015-07-16 18:22:00,2015,7,4,18,2,O'DONNELL,-1,-1,"(-1.00000000, -1.00000000)"
319356,I152058906,1300,RECOVERED STOLEN PROPERTY,STOLEN PROPERTY - BUYING / RECEIVING / POSSESSING,C11,,2015-07-16 18:22:00,2015,7,4,18,2,O'DONNELL,-1,-1,"(-1.00000000, -1.00000000)"
320069,I152058120,3207,PROPERTY FOUND,PROPERTY - FOUND,E5,822,2015-07-14 09:37:00,2015,7,2,9,3,BOUNDARY RD,-1,-1,"(-1.00000000, -1.00000000)"
321386,I152056624,1402,VANDALISM,VANDALISM,E5,822,2015-07-08 18:00:00,2015,7,3,18,2,BOUNDARY RD,-1,-1,"(-1.00000000, -1.00000000)"
321873,I152091597,619,LARCENY,LARCENY ALL OTHERS,A15,,2015-11-04 13:55:00,2015,11,3,13,1,O'MEARA,-1,-1,"(-1.00000000, -1.00000000)"
325553,I152062292,619,LARCENY,LARCENY ALL OTHERS,C6,,2015-07-22 12:23:00,2015,7,3,12,1,MONSIGNOR DENNIS F O'CALL,-1,-1,"(-1.00000000, -1.00000000)"
326244,I152051040,522,RESIDENTIAL BURGLARY,BURGLARY - RESIDENTIAL - NO FORCE,A15,,2015-06-20 03:41:00,2015,6,6,3,1,O'MEARA,-1,-1,"(-1.00000000, -1.00000000)"

In [27]:
df= df.drop(df[df['LATITUDE']=='-1'].index)

In [28]:
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,LATITUDE,LONGITUDE,LOCATION
0,I182080058,2403,DISORDERLY CONDUCT,DISTURBING THE PEACE,E18,495,2018-10-03 20:13:00,2018,10,3,20,2,ARLINGTON ST,42.26260773,-71.12118637,"(42.26260773, -71.12118637)"
1,I182080053,3201,PROPERTY LOST,PROPERTY - LOST,D14,795,2018-08-30 20:00:00,2018,8,4,20,3,ALLSTON ST,42.35211146,-71.13531147,"(42.35211146, -71.13531147)"
2,I182080052,2647,OTHER,THREATS TO DO BODILY HARM,B2,329,2018-10-03 19:20:00,2018,10,3,19,2,DEVON ST,42.30812619,-71.07692974,"(42.30812619, -71.07692974)"
3,I182080051,413,AGGRAVATED ASSAULT,ASSAULT - AGGRAVATED - BATTERY,A1,92,2018-10-03 20:00:00,2018,10,3,20,1,CAMBRIDGE ST,42.35945371,-71.05964817,"(42.35945371, -71.05964817)"
4,I182080050,3122,AIRCRAFT,AIRCRAFT INCIDENTS,A7,36,2018-10-03 20:49:00,2018,10,3,20,3,PRESCOTT ST,42.37525782,-71.02466343,"(42.37525782, -71.02466343)"

In [29]:
df[df['LONGITUDE']=='-1']

Empty DataFrame
Columns: [INCIDENT_NUMBER, OFFENSE_CODE, OFFENSE_CODE_GROUP, OFFENSE_DESCRIPTION, DISTRICT, REPORTING_AREA, OCCURRED_ON_DATE, YEAR, MONTH, DAY_OF_WEEK, HOUR, UCR_PART, STREET, LATITUDE, LONGITUDE, LOCATION]
Index: []

In [30]:
df= df.drop(df[df['LONGITUDE']=='-1'].index)

In [31]:
df.shape

(304268, 16)

In [32]:
df.dtypes

INCIDENT_NUMBER                object
OFFENSE_CODE                   object
OFFENSE_CODE_GROUP             object
OFFENSE_DESCRIPTION            object
DISTRICT                       object
REPORTING_AREA                 object
OCCURRED_ON_DATE       datetime64[ns]
YEAR                           object
MONTH                          object
DAY_OF_WEEK                    object
HOUR                           object
UCR_PART                       object
STREET                         object
LATITUDE                       object
LONGITUDE                      object
LOCATION                       object
dtype: object

In [33]:
df.isnull().sum()

INCIDENT_NUMBER        0
OFFENSE_CODE           0
OFFENSE_CODE_GROUP     0
OFFENSE_DESCRIPTION    0
DISTRICT               0
REPORTING_AREA         0
OCCURRED_ON_DATE       0
YEAR                   0
MONTH                  0
DAY_OF_WEEK            0
HOUR                   0
UCR_PART               0
STREET                 0
LATITUDE               0
LONGITUDE              0
LOCATION               0
dtype: int64

In [34]:
df.to_csv(r'//Users//jasminekaur//Downloads//Data Management 2//Boston_Crime_DataPrep.csv', index=False,encoding='utf-8')

### Offense Dimension Dataframe

In [35]:
df_OFFENSE = df[['OFFENSE_CODE', 'OFFENSE_CODE_GROUP', 'OFFENSE_DESCRIPTION']].dropna()

In [36]:
df_OFFENSE['OFFENSE_DETAILS']=df_OFFENSE['OFFENSE_CODE']+'_'+df_OFFENSE['OFFENSE_CODE_GROUP']+'_'+df_OFFENSE['OFFENSE_DESCRIPTION']

In [37]:
df_OFFENSE['OFFENSE_DETAILS'] = df_OFFENSE['OFFENSE_DETAILS'].str.replace(' ', '')

In [38]:
df_OFFENSE.nunique()

OFFENSE_CODE           216
OFFENSE_CODE_GROUP      68
OFFENSE_DESCRIPTION    244
OFFENSE_DETAILS        248
dtype: int64

In [39]:
df_OFFENSE = df_OFFENSE.drop_duplicates(subset='OFFENSE_DETAILS', keep='first') #.reset_index()

In [40]:
df_OFFENSE['OFFENSE_ID']=range(1, len(df_OFFENSE.index)+1)

In [41]:
#df_OFFENSE = df_OFFENSE.rename(columns = {'index' : 'OFFENSE_ID'})

In [42]:
df_OFFENSE.head(5)

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,OFFENSE_DETAILS,OFFENSE_ID
0,2403,DISORDERLY CONDUCT,DISTURBING THE PEACE,2403_DISORDERLYCONDUCT_DISTURBINGTHEPEACE,1
1,3201,PROPERTY LOST,PROPERTY - LOST,3201_PROPERTYLOST_PROPERTY-LOST,2
2,2647,OTHER,THREATS TO DO BODILY HARM,2647_OTHER_THREATSTODOBODILYHARM,3
3,413,AGGRAVATED ASSAULT,ASSAULT - AGGRAVATED - BATTERY,413_AGGRAVATEDASSAULT_ASSAULT-AGGRAVATED-BATTERY,4
4,3122,AIRCRAFT,AIRCRAFT INCIDENTS,3122_AIRCRAFT_AIRCRAFTINCIDENTS,5

In [43]:
df_OFFENSE = df_OFFENSE[['OFFENSE_ID','OFFENSE_CODE', 'OFFENSE_CODE_GROUP', 'OFFENSE_DESCRIPTION','OFFENSE_DETAILS']]

In [44]:
df_OFFENSE.nunique()

OFFENSE_ID             248
OFFENSE_CODE           216
OFFENSE_CODE_GROUP      68
OFFENSE_DESCRIPTION    239
OFFENSE_DETAILS        248
dtype: int64

In [45]:
df_OFFENSE.dtypes

OFFENSE_ID              int64
OFFENSE_CODE           object
OFFENSE_CODE_GROUP     object
OFFENSE_DESCRIPTION    object
OFFENSE_DETAILS        object
dtype: object

In [46]:
df_OFFENSE=df_OFFENSE.astype('str')

In [47]:
df_OFFENSE.dtypes

OFFENSE_ID             object
OFFENSE_CODE           object
OFFENSE_CODE_GROUP     object
OFFENSE_DESCRIPTION    object
OFFENSE_DETAILS        object
dtype: object

In [48]:
#df_OFFENSE['OFFENSE_DETAILS']=df_OFFENSE['OFFENSE_CODE']+'_'+df_OFFENSE['OFFENSE_CODE_GROUP']+'_'+df_OFFENSE['OFFENSE_DESCRIPTION']

In [49]:
#df_OFFENSE['OFFENSE_DETAILS'] = df_OFFENSE['OFFENSE_DETAILS'].str.replace(' ', '')

In [50]:
df_OFFENSE.head()

,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,OFFENSE_DETAILS
0,1,2403,DISORDERLY CONDUCT,DISTURBING THE PEACE,2403_DISORDERLYCONDUCT_DISTURBINGTHEPEACE
1,2,3201,PROPERTY LOST,PROPERTY - LOST,3201_PROPERTYLOST_PROPERTY-LOST
2,3,2647,OTHER,THREATS TO DO BODILY HARM,2647_OTHER_THREATSTODOBODILYHARM
3,4,413,AGGRAVATED ASSAULT,ASSAULT - AGGRAVATED - BATTERY,413_AGGRAVATEDASSAULT_ASSAULT-AGGRAVATED-BATTERY
4,5,3122,AIRCRAFT,AIRCRAFT INCIDENTS,3122_AIRCRAFT_AIRCRAFTINCIDENTS

In [51]:
df_OFFENSE.dtypes

OFFENSE_ID             object
OFFENSE_CODE           object
OFFENSE_CODE_GROUP     object
OFFENSE_DESCRIPTION    object
OFFENSE_DETAILS        object
dtype: object

In [52]:
df_OFFENSE.isnull().sum()

OFFENSE_ID             0
OFFENSE_CODE           0
OFFENSE_CODE_GROUP     0
OFFENSE_DESCRIPTION    0
OFFENSE_DETAILS        0
dtype: int64

In [53]:
df.head(2)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,LATITUDE,LONGITUDE,LOCATION
0,I182080058,2403,DISORDERLY CONDUCT,DISTURBING THE PEACE,E18,495,2018-10-03 20:13:00,2018,10,3,20,2,ARLINGTON ST,42.26260773,-71.12118637,"(42.26260773, -71.12118637)"
1,I182080053,3201,PROPERTY LOST,PROPERTY - LOST,D14,795,2018-08-30 20:00:00,2018,8,4,20,3,ALLSTON ST,42.35211146,-71.13531147,"(42.35211146, -71.13531147)"

In [54]:
df.dtypes

INCIDENT_NUMBER                object
OFFENSE_CODE                   object
OFFENSE_CODE_GROUP             object
OFFENSE_DESCRIPTION            object
DISTRICT                       object
REPORTING_AREA                 object
OCCURRED_ON_DATE       datetime64[ns]
YEAR                           object
MONTH                          object
DAY_OF_WEEK                    object
HOUR                           object
UCR_PART                       object
STREET                         object
LATITUDE                       object
LONGITUDE                      object
LOCATION                       object
dtype: object

In [55]:
df['OFFENSE_DETAILS'] = df['OFFENSE_CODE']+'_'+df['OFFENSE_CODE_GROUP']+'_'+df['OFFENSE_DESCRIPTION']

In [56]:
df['OFFENSE_DETAILS'] = df['OFFENSE_DETAILS'].str.replace(' ', '')

In [57]:
df.head(2)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,LATITUDE,LONGITUDE,LOCATION,OFFENSE_DETAILS
0,I182080058,2403,DISORDERLY CONDUCT,DISTURBING THE PEACE,E18,495,2018-10-03 20:13:00,2018,10,3,20,2,ARLINGTON ST,42.26260773,-71.12118637,"(42.26260773, -71.12118637)",2403_DISORDERLYCONDUCT_DISTURBINGTHEPEACE
1,I182080053,3201,PROPERTY LOST,PROPERTY - LOST,D14,795,2018-08-30 20:00:00,2018,8,4,20,3,ALLSTON ST,42.35211146,-71.13531147,"(42.35211146, -71.13531147)",3201_PROPERTYLOST_PROPERTY-LOST

In [58]:
df['OFFENSE_ID'] = df['OFFENSE_DETAILS'].map(df_OFFENSE.set_index('OFFENSE_DETAILS')['OFFENSE_ID'])

In [59]:
df.head(20)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,LATITUDE,LONGITUDE,LOCATION,OFFENSE_DETAILS,OFFENSE_ID
0,I182080058,2403,DISORDERLY CONDUCT,DISTURBING THE PEACE,E18,495,2018-10-03 20:13:00,2018,10,3,20,2,ARLINGTON ST,42.26260773,-71.12118637,"(42.26260773, -71.12118637)",2403_DISORDERLYCONDUCT_DISTURBINGTHEPEACE,1
1,I182080053,3201,PROPERTY LOST,PROPERTY - LOST,D14,795,2018-08-30 20:00:00,2018,8,4,20,3,ALLSTON ST,42.35211146,-71.13531147,"(42.35211146, -71.13531147)",3201_PROPERTYLOST_PROPERTY-LOST,2
2,I182080052,2647,OTHER,THREATS TO DO BODILY HARM,B2,329,2018-10-03 19:20:00,2018,10,3,19,2,DEVON ST,42.30812619,-71.07692974,"(42.30812619, -71.07692974)",2647_OTHER_THREATSTODOBODILYHARM,3
3,I182080051,413,AGGRAVATED ASSAULT,ASSAULT - AGGRAVATED - BATTERY,A1,92,2018-10-03 20:00:00,2018,10,3,20,1,CAMBRIDGE ST,42.35945371,-71.05964817,"(42.35945371, -71.05964817)",413_AGGRAVATEDASSAULT_ASSAULT-AGGRAVATED-BATTERY,4
4,I182080050,3122,AIRCRAFT,AIRCRAFT INCIDENTS,A7,36,2018-10-03 20:49:00,2018,10,3,20,3,PRESCOTT ST,42.37525782,-71.02466343,"(42.37525782, -71.02466343)",3122_AIRCRAFT_AIRCRAFTINCIDENTS,5
5,I182080049,1402,VANDALISM,VANDALISM,C11,351,2018-10-02 20:40:00,2018,10,2,20,2,DORCHESTER AVE,42.29919694,-71.06046974,"(42.29919694, -71.06046974)",1402_VANDALISM_VANDALISM,6
7,I182080047,3301,VERBAL DISPUTES,VERBAL DISPUTE,B2,603,2018-10-03 19:32:00,2018,10,3,19,3,TREMONT ST,42.33380683,-71.10377843,"(42.33380683, -71.10377843)",3301_VERBALDISPUTES_VERBALDISPUTE,7
8,I182080045,802,SIMPLE ASSAULT,ASSAULT SIMPLE - BATTERY,E18,543,2018-10-03 19:27:00,2018,10,3,19,2,AVILA RD,42.25614494,-71.12802506,"(42.25614494, -71.12802506)",802_SIMPLEASSAULT_ASSAULTSIMPLE-BATTERY,8
9,I182080044,3410,TOWED,TOWED MOTOR VEHICLE,D4,621,2018-10-03 20:00:00,2018,10,3,20,3,COMMONWEALTH AVE,42.348866,-71.08936284,"(42.34886600, -71.08936284)",3410_TOWED_TOWEDMOTORVEHICLE,9
11,I182080042,706,AUTO THEFT,AUTO THEFT - MOTORCYCLE / SCOOTER,E13,582,2018-10-01 20:00:00,2018,10,1,20,1,BYNNER ST,42.32324363,-71.10892316,"(42.32324363, -71.10892316)",706_AUTOTHEFT_AUTOTHEFT-MOTORCYCLE/SCOOTER,10
12,I182080041,3006,MEDICAL ASSISTANCE,SICK/INJURED/MEDICAL - PERSON,E18,484,2018-10-03 17:18:00,2018,10,3,17,3,BELNEL RD,42.26059891,-71.1030614,"(42.26059891, -71.10306140)",3006_MEDICALASSISTANCE_SICK/INJURED/MEDICAL-PE...,11
13,I182080040,3115,INVESTIGATE PERSON,INVESTIGATE PERSON,B3,427,2018-10-03 08:00:00,2018,10,3,8,3,ELIZABETH ST,42.27986526,-71.08798275,"(42.27986526, -71.08798275)",3115_INVESTIGATEPERSON_INVESTIGATEPERSON,12
16,I182080037,2647,OTHER,THREATS TO DO BODILY HARM,C11,385,2018-10-03 18:35:00,2018,10,3,18,2,HALLET ST,42.28076737,-71.04736497,"(42.28076737, -71.04736497)",2647_OTHER_THREATSTODOBODILYHARM,3
17,I182080035,2647,OTHER,THREATS TO DO BODILY HARM,B2,326,2018-10-03 19:56:00,2018,10,3,19,2,DUNKELD ST,42.31277782,-71.07562922,"(42.31277782, -71.07562922)",2647_OTHER_THREATSTODOBODILYHARM,3
18,I182080034,3115,INVESTIGATE PERSON,INVESTIGATE PERSON,D4,626,2018-10-03 18:41:00,2018,10,3,18,3,KILMARNOCK ST,42.34268073,-71.09937714,"(42.34268073, -71.09937714)",3115_INVESTIGATEPERSON_INVESTIGATEPERSON,12
19,I182080031,3108,FIRE RELATED REPORTS,"FIRE REPORT - HOUSE, BUILDING, ETC.",C11,338,2018-10-03 18:18:00,2018,10,3,18,3,NAVILLUS TER,42.30998781,-71.06213111,"(42.30998781, -71.06213111)","3108_FIRERELATEDREPORTS_FIREREPORT-HOUSE,BUILD...",13
20,I182080030,3831,MOTOR VEHICLE ACCIDENT RESPONSE,M/V - LEAVING SCENE - PROPERTY DAMAGE,C6,234,2018-10-02 20:00:00,2018,10,2,20,3,COLUMBIA RD,42.33001489,-71.03851306,"(42.33001489, -71.03851306)",3831_MOTORVEHICLEACCIDENTRESPONSE_M/V-LEAVINGS...,14
22,I182080028,3114,INVESTIGATE PROPERTY,INVESTIGATE PROPERTY,B2,295,2018-10-03 18:24:00,2017,10,3,18,3,HANSFORD ST,42.32527567,-71.08351579,"(42.32527567, -71.08351579)",3114_INVESTIGATEPROPERTY_INVESTIGATEPROPERTY,15
23,I182080027,3301,VERBAL DISPUTES,VERBAL DISPUTE,B2,294,2018-10-03 18:53:00,2018,10,3,18,3,AKRON ST,42.32579408,-71.08563758,"(42.32579408, -71.08563758)",3301_VERBALDISPUTES_VERBALDISPUTE,7
24,I182078214,611,LARCENY,LARCENY PICK-POCKET,A15,54,2018-09-27 11:00:00,2018,9,4,11,1,WALKER ST,42.3791344,-71.06685375,"(42.37913440, -71.06685375)",611_LARCENY_LARCENYPICK-POCKET,16

In [60]:
#df[df["OFFENSE_ID"].str.contains(" ")]

In [61]:
df_OFFENSE.shape

(248, 5)

In [62]:
#df.to_csv(r'//Users//jasminekaur//Downloads//Data Management 2//Boston_offense.csv', index=False,encoding='utf-8')

In [63]:
df_OFFENSE.nunique()

OFFENSE_ID             248
OFFENSE_CODE           216
OFFENSE_CODE_GROUP      68
OFFENSE_DESCRIPTION    239
OFFENSE_DETAILS        248
dtype: int64

### Location Dimension Dataframe

In [64]:
df_LOCATION = df[['STREET', 'LATITUDE', 'LONGITUDE','LOCATION'] ]

In [65]:
df_LOCATION.head()

         STREET     LATITUDE     LONGITUDE                     LOCATION
0  ARLINGTON ST  42.26260773  -71.12118637  (42.26260773, -71.12118637)
1    ALLSTON ST  42.35211146  -71.13531147  (42.35211146, -71.13531147)
2      DEVON ST  42.30812619  -71.07692974  (42.30812619, -71.07692974)
3  CAMBRIDGE ST  42.35945371  -71.05964817  (42.35945371, -71.05964817)
4   PRESCOTT ST  42.37525782  -71.02466343  (42.37525782, -71.02466343)

In [66]:
df_LOCATION = df_LOCATION.drop_duplicates(subset='STREET', keep='last') #.reset_index()

In [67]:
df_LOCATION['LOCATION_ID']=range(1, len(df_LOCATION.index)+1)

In [68]:
#df_LOCATION = df_LOCATION.rename(columns = {'index' : 'LOCATION_ID'})

In [69]:
df_LOCATION.head()

,STREET,LATITUDE,LONGITUDE,LOCATION,LOCATION_ID
72,COLWELL AVE,42.34259153,-71.15581674,"(42.34259153, -71.15581674)",1
966,DRAPER RD,42.23575345,-71.12558202,"(42.23575345, -71.12558202)",2
5453,ALTACREST RD,42.27269214,-71.16185956,"(42.27269214, -71.16185956)",3
6055,SHAWMUT ST,42.35025803,-71.06830912,"(42.35025803, -71.06830912)",4
6073,RAILROAD ST,42.28623637,-71.15232258,"(42.28623637, -71.15232258)",5

In [70]:
df_LOCATION = df_LOCATION[['LOCATION_ID','STREET', 'LATITUDE', 'LONGITUDE','LOCATION'] ]

In [71]:
df_LOCATION.head()

,LOCATION_ID,STREET,LATITUDE,LONGITUDE,LOCATION
72,1,COLWELL AVE,42.34259153,-71.15581674,"(42.34259153, -71.15581674)"
966,2,DRAPER RD,42.23575345,-71.12558202,"(42.23575345, -71.12558202)"
5453,3,ALTACREST RD,42.27269214,-71.16185956,"(42.27269214, -71.16185956)"
6055,4,SHAWMUT ST,42.35025803,-71.06830912,"(42.35025803, -71.06830912)"
6073,5,RAILROAD ST,42.28623637,-71.15232258,"(42.28623637, -71.15232258)"

In [72]:
df_LOCATION.nunique()

LOCATION_ID    3839
STREET         3839
LATITUDE       3838
LONGITUDE      3838
LOCATION       3838
dtype: int64

In [73]:
df_LOCATION=df_LOCATION.astype('str')

In [74]:
df_LOCATION.dtypes

LOCATION_ID    object
STREET         object
LATITUDE       object
LONGITUDE      object
LOCATION       object
dtype: object

In [75]:
df['LOCATION_ID'] = df['STREET'].map(df_LOCATION.set_index('STREET')['LOCATION_ID'])

In [76]:
df.head(2)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,LATITUDE,LONGITUDE,LOCATION,OFFENSE_DETAILS,OFFENSE_ID,LOCATION_ID
0,I182080058,2403,DISORDERLY CONDUCT,DISTURBING THE PEACE,E18,495,2018-10-03 20:13:00,2018,10,3,20,2,ARLINGTON ST,42.26260773,-71.12118637,"(42.26260773, -71.12118637)",2403_DISORDERLYCONDUCT_DISTURBINGTHEPEACE,1,3786
1,I182080053,3201,PROPERTY LOST,PROPERTY - LOST,D14,795,2018-08-30 20:00:00,2018,8,4,20,3,ALLSTON ST,42.35211146,-71.13531147,"(42.35211146, -71.13531147)",3201_PROPERTYLOST_PROPERTY-LOST,2,3045

In [77]:
df_LOCATION.shape

(3839, 5)

### Fact Table Dataframe - Incident

In [78]:
df_INCIDENT = df[['INCIDENT_NUMBER','DISTRICT','REPORTING_AREA','OCCURRED_ON_DATE','YEAR','MONTH','DAY_OF_WEEK','HOUR','UCR_PART','OFFENSE_ID','LOCATION_ID']]

In [79]:
df_INCIDENT.head(5)

,INCIDENT_NUMBER,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,OFFENSE_ID,LOCATION_ID
0,I182080058,E18,495,2018-10-03 20:13:00,2018,10,3,20,2,1,3786
1,I182080053,D14,795,2018-08-30 20:00:00,2018,8,4,20,3,2,3045
2,I182080052,B2,329,2018-10-03 19:20:00,2018,10,3,19,2,3,3607
3,I182080051,A1,92,2018-10-03 20:00:00,2018,10,3,20,1,4,3814
4,I182080050,A7,36,2018-10-03 20:49:00,2018,10,3,20,3,5,3149

In [80]:
df_INCIDENT.nunique()

INCIDENT_NUMBER     269999
DISTRICT                13
REPORTING_AREA         879
OCCURRED_ON_DATE    223459
YEAR                     4
MONTH                   15
DAY_OF_WEEK              8
HOUR                    25
UCR_PART                 4
OFFENSE_ID             248
LOCATION_ID           3839
dtype: int64

In [81]:
#df_INCIDENT = df_INCIDENT.reset_index()
#df_INCIDENT.index = df_INCIDENT.index +1
df_INCIDENT['INCIDENT_ID']=range(1, len(df_INCIDENT.index)+1)

/Users/jasminekaur/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [82]:
df_INCIDENT.head(2)

,INCIDENT_NUMBER,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,OFFENSE_ID,LOCATION_ID,INCIDENT_ID
0,I182080058,E18,495,2018-10-03 20:13:00,2018,10,3,20,2,1,3786,1
1,I182080053,D14,795,2018-08-30 20:00:00,2018,8,4,20,3,2,3045,2

In [83]:
#df_INCIDENT = df_INCIDENT.rename(columns = {'index' : 'INCIDENT_ID'})

In [84]:
#df_INCIDENT = df_INCIDENT[['INCIDENT_ID','INCIDENT_NUMBER','DISTRICT','REPORTING_AREA','OCCURRED_ON_DATE','YEAR','MONTH','DAY_OF_WEEK','HOUR','UCR_PART','OFFENSE_ID','LOCATION_ID']]

In [85]:
#df_INCIDENT = df_INCIDENT.rename(columns = {'OFFENSE_ID' : 'OFFENSE_ID_fk'})
#df_INCIDENT = df_INCIDENT.rename(columns = {'LOCATION_ID' : 'LOCATION_ID_fk'})

In [86]:
df_INCIDENT.head(5)

,INCIDENT_NUMBER,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,OFFENSE_ID,LOCATION_ID,INCIDENT_ID
0,I182080058,E18,495,2018-10-03 20:13:00,2018,10,3,20,2,1,3786,1
1,I182080053,D14,795,2018-08-30 20:00:00,2018,8,4,20,3,2,3045,2
2,I182080052,B2,329,2018-10-03 19:20:00,2018,10,3,19,2,3,3607,3
3,I182080051,A1,92,2018-10-03 20:00:00,2018,10,3,20,1,4,3814,4
4,I182080050,A7,36,2018-10-03 20:49:00,2018,10,3,20,3,5,3149,5

In [87]:
df_INCIDENT=df_INCIDENT.astype('str')

In [88]:
df_INCIDENT["REPORTING_AREA"]= df_INCIDENT["REPORTING_AREA"].replace(' ',"0")

In [89]:
df_INCIDENT.dtypes

INCIDENT_NUMBER     object
DISTRICT            object
REPORTING_AREA      object
OCCURRED_ON_DATE    object
YEAR                object
MONTH               object
DAY_OF_WEEK         object
HOUR                object
UCR_PART            object
OFFENSE_ID          object
LOCATION_ID         object
INCIDENT_ID         object
dtype: object

In [90]:
df_INCIDENT.isnull().sum()

INCIDENT_NUMBER     0
DISTRICT            0
REPORTING_AREA      0
OCCURRED_ON_DATE    0
YEAR                0
MONTH               0
DAY_OF_WEEK         0
HOUR                0
UCR_PART            0
OFFENSE_ID          0
LOCATION_ID         0
INCIDENT_ID         0
dtype: int64

In [91]:
df_INCIDENT.shape

(304268, 12)

In [92]:
df_INCIDENT[df_INCIDENT['REPORTING_AREA'].str.contains(' ')]

Empty DataFrame
Columns: [INCIDENT_NUMBER, DISTRICT, REPORTING_AREA, OCCURRED_ON_DATE, YEAR, MONTH, DAY_OF_WEEK, HOUR, UCR_PART, OFFENSE_ID, LOCATION_ID, INCIDENT_ID]
Index: []

In [ ]:
%%script false

### Database Connection

In [127]:
import pymysql

In [128]:
db = pymysql.connect(host="localhost",    # your host, usually localhost
                     user="root",         # your username
                     password="12345678") # name of the data base  


cursor=db.cursor()

In [129]:
df_INCIDENT.head(1)

,INCIDENT_NUMBER,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,OFFENSE_ID,LOCATION_ID,INCIDENT_ID
0,I182080058,E18,495,2018-10-03 20:13:00,2018,10,3,20,2,1,3786,1

In [130]:
#db.connector.connect()

In [131]:
#cursor.execute("DROP DATABASE IF EXISTS BOSTON_CRIME")

In [132]:
cursor.execute("CREATE DATABASE BOSTON_CRIME04")

1

In [133]:
cursor.execute("USE BOSTON_CRIME04")

0

In [134]:
cursor.execute("""CREATE TABLE OFFENSE
(OFFENSE_ID int NOT NULL PRIMARY KEY,
OFFENSE_CODE int NULL,
OFFENSE_CODE_GROUP varchar(255) NULL,
OFFENSE_DESCRIPTION varchar(255) NULL,
OFFENSE_DETAILS varchar(255) NULL)""")

0

In [135]:
cursor.execute("""CREATE TABLE OFFENSE_LOCATION
(LOCATION_ID int NOT NULL PRIMARY KEY,
STREET varchar(255) NULL,
LATITUDE float NULL,
LONGITUDE float NULL,
LOCATION varchar(255) NULL)""")

0

In [136]:
cursor.execute("""CREATE TABLE INCIDENT
(INCIDENT_ID int NOT NULL PRIMARY KEY,
INCIDENT_NUMBER varchar(255) NULL,
DISTRICT varchar(255) NULL,
REPORTING_AREA int NULL,
OCCURRED_ON_DATE DATETIME NULL,
YEAR int NULL,
MONTH int NULL,
DAY_OF_WEEK int NULL,
HOUR int NULL,
UCR_PART int NULL,
OFFENSE_ID int NOT NULL,
LOCATION_ID int NOT NULL,
FOREIGN KEY(OFFENSE_ID) REFERENCES OFFENSE(OFFENSE_ID),
FOREIGN KEY(LOCATION_ID) REFERENCES OFFENSE_LOCATION(LOCATION_ID))""")

0

In [137]:
db.commit()

### Insert Data

In [138]:
Offense_Cols = "`,`".join([str(i) for i in df_OFFENSE.columns.tolist()])

In [139]:
Offense_Cols

'OFFENSE_ID`,`OFFENSE_CODE`,`OFFENSE_CODE_GROUP`,`OFFENSE_DESCRIPTION`,`OFFENSE_DETAILS'

In [140]:
for i, row in df_OFFENSE.iterrows():
        sql = "INSERT INTO `OFFENSE` (`" +Offense_Cols+ "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cursor.execute(sql,tuple(row))
        db.commit()

In [141]:
Location_Cols = "`,`".join([str(i) for i in df_LOCATION.columns.tolist()])

In [142]:
Location_Cols

'LOCATION_ID`,`STREET`,`LATITUDE`,`LONGITUDE`,`LOCATION'

In [143]:
for i, row in df_LOCATION.iterrows():
        sql = "INSERT INTO `OFFENSE_LOCATION` (`" +Location_Cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cursor.execute(sql,tuple(row))
        db.commit()

In [144]:
Incident_Cols = "`,`".join([str(i) for i in df_INCIDENT.columns.tolist()])

In [145]:
Incident_Cols

'INCIDENT_NUMBER`,`DISTRICT`,`REPORTING_AREA`,`OCCURRED_ON_DATE`,`YEAR`,`MONTH`,`DAY_OF_WEEK`,`HOUR`,`UCR_PART`,`OFFENSE_ID`,`LOCATION_ID`,`INCIDENT_ID'

In [146]:
for i, row in df_INCIDENT.iterrows():
        sql = "INSERT INTO `INCIDENT` (`" +Incident_Cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cursor.execute(sql,tuple(row))
        db.commit()

In [147]:
db.commit()